a > img {
  height: 2.75rem;
}

.nav-masthead.focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.nav-masthead .active {
  color: black !important;
}

.btn.active {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.logo,
.fs-1 > span {
  color: red;
  text-decoration: none;
  font-family: "Cedarville Cursive";
  text-shadow: 1px 1px 0.5px black;
}

.logo > h1 {
  font-size: 1.9rem;
}
