.fish {
  background-image: url("../assets/fishies.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 1rem !important;
}

.biglogo {
  background-image: url("../assets/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border-radius: 1rem !important;
}

.panfrying {
  background-image: url("../assets/panfrying.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border-radius: 1rem !important;
}

@media screen and (min-width: 1000px) {
  .home > .d-flex {
    width: 31%;
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
