$input-focus-border-color: white;
$input-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
$form-select-indicator-color: $input-focus-border-color;
$form-select-focus-box-shadow: $input-btn-focus-box-shadow;
$enable-grid-classes: false;
$enable-cssgrid: true;

@import "../node_modules/bootstrap/scss/bootstrap";

#root {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100vh;
  max-height: 100vh;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.25);
  background-image: url("../assets/waves.jpg");
  background-size: 100% 100%;
  display: flex;
  overflow: hidden;
}

#root > .d-flex {
  flex: 0 0 100%;
  max-height: 100%;
}

.card {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 1rem !important;
  border-width: 0.125rem;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
