.cart-icon {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.shop {
  max-height: 100%;
}

.shop > div {
  box-shadow: inset 0 0 1rem rgba(#6c757d, 0.75);
}

@media screen and (max-width: 500px) {
  .shop > div > button {
    flex-direction: column;
    row-gap: 1rem !important;
  }
  .shop > div {
    row-gap: 1rem !important;
  }
  .cart > .d-flex > .d-flex > .d-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 999px) {
  .shop > div > button {
    backdrop-filter: blur(4px);
  }

  .shop > div > button:hover {
    background-color: #fff;
    box-shadow: 0 0 1rem 0.4rem rgba(#0d6efd, 0.75);
  }

  .shop > div:first-child {
    width: 60%;
  }

  .cart {
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {
  .shop > div > div > button {
    backdrop-filter: blur(4px);
  }

  .shop > div > div > button:hover {
    background-color: #fff;
    box-shadow: 0 0 1rem 0.4rem rgba(#0d6efd, 0.75);
  }

  .shop > div:first-child {
    width: 75%;
  }

  .cart {
    width: 25%;
  }
}

@media screen and (max-width: 1000px) {
  .cart > .d-flex > .d-flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 1500px) {
  .cart > .d-flex {
    flex-direction: column;
  }
}

input {
  min-width: 3ch;
  max-width: 3ch;
}

.cart > .d-flex {
  backdrop-filter: blur(4px);
  text-shadow: none;
}

.cart > .d-flex > .d-flex > .d-flex > button:hover {
  background-color: #fff;
  box-shadow: 0 0 0.2rem 0.2rem rgba(#0d6efd, 0.75);
}
